<!DOCTYPE html>
<html>
<head>
  <title>Airtime</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">

<div id="header">
<div id="user_nav">
  <p>
    <%= link_to "TV Shows", shows_path %> |
    <% if current_user %>
      Hello <%= current_user.name %> |
      <%= link_to "Dashboard", user_path(current_user) %> |
      <%= link_to "Logout", sign_out_path %>
    <% else %>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", sign_in_path %> |
    <% end %>
  </p>
</div>

<div id="search">
 <%= form_tag shows_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
 <% end %>
</div>
<div style="clear:both;"></div>
</div>



<%= yield %>

</div>

</body>
</html>
