<table>
  <tr>
    <th>TV-Show</th>
    <th>Description</th>
    <th>Opening Year</th>
    <th>Show ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shows.each do |show| %>
  <tr>
    <td><%= show.name %></td>
    <td><%= show.description %></td>
    <td><%= show.date %></td>
    <td><%= show.id %></td>
    <td><%= link_to 'Show', show %></td>
    <td><%= link_to 'Edit', edit_show_path(show) %></td>
    <td><%= link_to 'Destroy', show, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>