<table>
  <tr>
    <th>TV-Show</th>
    <th>Description</th>
    <th>Opening Year</th>
    <th>Show ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shows.each do |show| %>
  <tr>
    <td><%= show.name %></td>
    <td><%= show.description %></td>
    <td><%= show.date %></td>
    <td><%= show.id %></td>
    <td><%= link_to 'Show', show %></td>
    <td>
      <% if can? :update, show %>
        <%= link_to 'Edit', edit_show_path(show) %>
      <% end %>  
    </td>
    <td>
      <% if can? :destroy, show %>
        <%= link_to 'Destroy', show, confirm: 'Are you sure?', method: :delete %>
      <% end %>
    </td>
    <td>
      <% if current_user %>
        <% if Subscribe.where("user_id = ? AND show_id = ?", current_user.id, show.id).blank? #if no subscription is found %>
          <%= link_to 'Subscribe', new_subscribe_path %>
        <% else %>
          <% @subscription = Subscribe.find(:all, :conditions => "user_id = "+current_user.id.to_s+" AND show_id = "+show.id.to_s+"") %>
          <% @one_subscription = @subscription[0] # take first element in result array %>
          <% @sub_id = @one_subscription.id # extract subscription ID %>
          <%= link_to 'Unsubscribe', subscribe_path(@sub_id), :confirm => "Are you sure?", :method => :delete %>
        <% end %>
      <% end %>  
    </td>
  </tr>
<% end %>
</table>