<h1>Listing of all TV-Shows</h1>

    <%= form_tag shows_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>

<%= render 'list' %>

<br />

<%= link_to 'New Show', new_show_path %>
