<p id="notice"><%= notice %></p>

<h2>TV-Show "<%= @show.name %>"</h2>

<div id="coverart">
  <%= image_tag("covers/show-"+@show.id.to_s+".jpg", :alt => "Series Cover") %>
</div>

<p class="description">
  <b>Started on:</b> <%= @show.date.month %>/<%= @show.date.year %><br />
  <b>Description:</b> <%= @show.description %>
</p>

<!-- current_user: <%= simple_format current_user.id.to_yaml %>
all Subscribe: <%= simple_format Subscribe.all.to_yaml %> 
first Subscribe: <%= simple_format (Subscribe.find(1)).to_yaml %> -->
Subscribe where user id is 'current_user.id' AND show_id is '@show.id': <%= simple_format (Subscribe.where("user_id = ? AND show_id = ?", current_user.id, @show.id)).to_yaml %> 

<!-- Subscribe.where("user_id = ? AND show_id = ?", current_user.id, @show.id).blank? -->

<% if true %>
	<% link_to 'Subscribe', shows_path %>
<% else %>
	<% link_to 'bla', shows_path %>
<% end %>

<br />
<br />
<br />
<br />

<h3><%= @show.name %> has the following Seasons:</h3>
<%= render 'seasons/list' %>


<h3>Episodes Overview:</h3>
<%= render 'episodes/list_userview' %>


<h3>Following Users have added this Show:</h3>
<%= render 'users/list' %>
