<p id="notice"><%= notice %></p>

<h2>TV-Show "<%= @show.name %>"</h2>
<p>
  <b>Started on:</b> <%= @show.date %>
</p>
<p>
  <b>Description:</b> <%= @show.description %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
<br />

<h3><%= @show.name %> has the following Seasons:</h3>
<%= render 'seasons/list' %>

<h3>Following Users have added this Show:</h3>
<%= render 'users/list' %>
