<p id="notice"><%= notice %></p>

<h2>TV-Show "<%= @show.name %>"</h2>

<div id="coverart">
  <%= image_tag("covers/show-"+@show.id.to_s+".jpg", :alt => "Series Cover") %>
</div>

<p class="description">
  <b>Started on:</b> <%= @show.date.month %>/<%= @show.date.year %><br />
  <b>Description:</b> <%= @show.description %>
</p>


<% if current_user %>
<% if Subscribe.where("user_id = ? AND show_id = ?", current_user.id, @show.id).blank? #if no subscription is found %>
    <p>No subscription yet.</p>
    <%= link_to 'Subscribe',  %>
<% else %>
    <% @subscription = Subscribe.find(:all, :conditions => "user_id = "+current_user.id.to_s+" AND show_id = "+@show.id.to_s+"") %>
    <% @one_subscription = @subscription[0] # take first element in result array %>
    <% @sub_id = @one_subscription.id # extract subscription ID %>
    <p>You already subscribed to this show. Subscription ID: <%= @sub_id.to_s %></p>
    <%= link_to 'Unsubscribe', subscribe_path(@sub_id), :confirm => "Are you sure?", :method => :delete %>
<% end %>

<% end %>

<br />
<br />
<br />
<br />

<h3><%= @show.name %> has the following Seasons:</h3>
<%= render 'seasons/list' %>


<h3>Episodes Overview:</h3>
<%= render 'episodes/list_userview' %>


<h3>Following Users have added this Show:</h3>
<%= render 'users/list' %>
