<p id="notice"><%= notice %></p>

<h2>Attributes of TV-Show</h2>
<p>
  <b>Name:</b>
  <%= @show.name %>
</p>

<p>
  <b>Description:</b>
  <%= @show.description %>
</p>

<p>
  <b>Date:</b>
  <%= @show.date %>
</p>

<p>Seasons in the TV-Show:</p>
 <%= render 'seasons/list' %>


<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
