<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Combined name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Firstname" %><br />
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label "Lastname" %><br />
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, f.object.new_record? ? nil : "Change password" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %><br />
  </div>

  <div class="field">
    <%= f.label :role %><br />
    <%= f.collection_select :role, User::ROLES, :to_s, :titleize %>
    <!-- assign the "loggedin" role to the current user right HERE -->
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>

<% end %>
