<p id="notice"><%= notice %></p>

<h2>Dashboard</h2>

<div class="profileinfo">
  <b>Nickname:</b> <%= @user.name %> | <b>Full Name:</b> <%= @user.fname %> <%= @user.lname %> |  <b>Email:</b> <%= @user.email %> |
  <%= link_to 'Edit your profile', edit_user_path(@user) %>
</div>

<hr />

<h3>List of subscribed shows:</h3>
<%=  render 'shows/list' %>
<%= link_to 'Subscribe a new show', shows_path %>


<h3>List of upcoming episodes:</h3>
<%=  render 'episodes/list_userview' %>


