<table>
  <tr>
    <th>Episode No</th>
    <th>Title</th>
    <th>Airing Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @episodes.each do |episode| %>
  <tr>
    <td>Episode <%= episode.number %></td>
    <td><%= episode.name %></td>
    <td><%= episode.date %></td>
    <td><%= link_to 'Show', episode %></td>
    <td>
      <% if can? :update, episode %>
        <%= link_to 'Edit', edit_episode_path(episode) %>
      <% end %>  
    </td>
    <td>
      <% if can? :destroy, episode %>
        <%= link_to 'Destroy', episode, confirm: 'Are you sure?', method: :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, @episode %>
  <%= link_to 'New Episode', new_episode_path %>
<% end %>
<br />
<br />