<p id="notice"><%= notice %></p>

<h2>[Show Name, Season No], Episode <%= @episode.number %> Details</h2>
<p>
  <b>First Airing Date:</b>
  <%= @episode.date %>
</p>
<p>
  <b>Title:</b>
  <%= @episode.name %>
</p>
<p>
  <b>Description:</b>
  <%= @episode.description %>
</p>

<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
