<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @episode.name %>
</p>

<p>
  <b>Number:</b>
  <%= @episode.number %>
</p>

<p>
  <b>Description:</b>
  <%= @episode.description %>
</p>


<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
