<p id="notice"><%= notice %></p>
<% seasonstring = "Season " + @episode.season.number.to_s %>

<h2><%= @episode.season.show ? (link_to @episode.season.show.name, show_path(@episode.season.show)) : "" %> > <%= @episode.season ? (link_to seasonstring, season_path(@episode.season)) : "" %> > Episode <%= @episode.number %> Details</h2>
<p>
  <b>First Airing Date:</b>
  <%= @episode.date %>
</p>
<p>
  <b>Title:</b>
  <%= @episode.name %>
</p>
<p>
  <b>Description:</b>
  <%= @episode.description %>
</p>

<% if can? :update, :episode %>
	<%= link_to 'Edit', edit_episode_path(@episode) %> |
<% end %>
<%= link_to 'Back', episodes_path %>
