<table>
  <tr>
    <th>Season No</th>
    <th>Name</th>
    <th>Description</th>
    <th>Season Start Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @seasons.each do |season| %>
  <tr>
    <td><%= season.number %></td>
    <td><%= season.name %></td>
    <td><%= season.description %></td>
    <td><%= season.date %></td>
    <td><%= link_to 'Show', season %></td>
    <td>
      <% permitted_to? :edit, :season do %>
        <%= link_to 'Edit', edit_season_path(season) %>
      <% end %>
    </td>
    <td>
      <% permitted_to? :destroy, :season do %>
        <%= link_to 'Destroy', season, confirm: 'Are you sure?', method: :delete %>
      <% end %>
    </td>
  </tr>
  <% end %>

</table>

<br />

<% permitted_to? :create, :season do %>
  <%= link_to 'New Season', new_season_path %>
<% end %>


<br />
<br />