<p id="notice"><%= notice %></p>

<h2><%= @season.show ? (link_to @season.show.name, show_path(@season.show)) : "" %> > Season <%= @season.number %></h2>
<p>
  <b>Full Name:</b> <%= @season.name %>
</p>
<p>
  <b>Season Start Date:</b>
  <%= @season.date %>
</p>
<p>
  <b>Description:</b>
  <%= @season.description %>
</p>
<%= link_to 'Edit', edit_season_path(@season) %> |
<%= link_to 'Back', seasons_path %>
<br />

<h3>Episodes in Season <%= @season.number %>:</h3>
<%= render 'episodes/list' %>


